
/* inline css, adding attribute to actual HTML :target
internal CSS using style tags within a single document
external css , linking an external.css file
*/

 h1{

    font-weight: 800;
    font-style: bold;
    font-family: Helvetica;
    color:red
    

    
}

body {
    background-color: rgb(189, 189, 189);
}

/*

selector can refrence a declared ID to be more specific with css.

*/

#top{ 

    font-style: inherit;;
    color: blue;
    font-family: helvetica;




}

#bottom{
    font-style: bold;
    color: #990000;
}

#img{
    height: 300;
    width: 92%;
}

#ff{
    font-family: helvetica;
}

form {

    font-style: bold;



}


center {
    text-align: center;
    font-size: 19pt;
    
    
    
}
img {
    height: 20;
    width: 250;

}
th {
    padding: 3px;
}
td {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #990000;
    background-color: #ffffcc;
}
#trHeader {
    text-decoration: underline;
    color: #990000;
}
.centerCell {
    text-align: center;
}

/*grid and flexbox
 */
